.home-panel__user {
  border-bottom: solid 2px black;
}

.home-panel__panels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.home-panel__block {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding: 50px;
  text-align: center;
  color: #cdc293;
  box-shadow: 0 0 5px #777;
  background-size: cover;
  background-position: center;
}

.home-panel__block-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2c414d;
  opacity: 0.7;
  z-index: 1;
}

.home-panel__block--songs {
  background-image: url("./img/guitarhand.jpeg");
}

.home-panel__block--binders {
  background-image: url("./img/binder.jpeg");
}

.home-panel__block-icon {
  position: relative;
  font-size: 40px;
  margin-bottom: 10px;
  z-index: 2;
}

.home-panel__block-text {
  position: relative;
  z-index: 2;
}

.home-panel__block-link {
  position: relative;
  color: #efefef;
  font-size: 0.8em;
  text-decoration: none;
  z-index: 2;
}
