.icon-button {
  padding: 5px 8px;
  border-style: none;
  background-color: #2C414D;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: #CDC293;
}

.icon-button__icon {
  margin-right: 3px;
}

.icon-button:hover {
  background-color: #5F7682;
  color: #fafafa;
}