.spinner {
  border: 5px solid #a3a3a3; /* Light grey */
  border-top: 5px solid #e9e3af; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}